.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    input[type="text"] {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
      transition: border-color 0.3s ease;
  
      &:focus {
        outline: none;
        border-color: #007bff;
      }
    }
  }
  