.todo-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f7f7f7;
  }

  &.archived {
    color: gray;
    opacity: 0.6;
    input[type="checkbox"] {
      pointer-events: none;
    }
    .edit-button,
    .remove-button {
      pointer-events: none;
    }
  }

  .todo-info {
    flex-grow: 1;
    input[type="text"] {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px 10px;
      font-size: 14px;
      margin-bottom: 5px;
      width: 100%;
      transition: border-color 0.3s ease;

      &:focus {
        outline: none;
        border-color: #007bff;
      }
    }

    label {
      margin: 10px 0;
      display: block;
      font-weight: bold;

      &.todo-item-description {
        color: #555;
        font-weight: normal;
      }
    }
  }

  .btn-container {
    display: flex;
    align-items: center;

    .archive-button,
    .edit-button,
    .remove-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 14px;
      padding: 5px 10px;
      border: 1px solid transparent;
      border-radius: 4px;
      transition: color 0.3s ease, border-color 0.3s ease;

      &:hover {
        color: #007bff;
        border-color: #007bff;
      }

      &:active {
        transform: translateY(2px);
      }
    }

    .archive-button {
      color: #007bff;
      margin-left: 10px;
      transition: color 0.3s ease;

      &.unarchive {
        color: green;
      }

      &:hover {
        color: #0056b3;
      }

      &.archived {
        pointer-events: none;
        color: gray;
      }
    }

    .edit-button,
    .remove-button {
      margin-right: 10px;

      &:hover {
        color: #007bff;
      }
    }
  }
}
